@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Raleway:wght@300&display=swap');

:root {
    --primary-color: rgb(240, 238, 238);
    --secondary-color: rgb(255, 190, 190);
    --hover-color: black;
    --contrast-color: white;
    --firstListItemPadding: 1.5rem;
}

.navBar {
    display: flex;
    justify-content: center;
    font-family: 'Raleway', sans-serif;
}

nav ul li:hover > [data-navbar-group] {
    display: block !important;
    animation-name: expand;
    animation-duration: .5s;
}

.navBar__listItem {
    padding: .5rem 16px;
    box-sizing: border-box;
    white-space: pre-wrap;
    outline: none;
    height: 100%;
    text-align: start;
    position: relative;
}

.navBar__listItem:hover {
    background-color: var(--hover-color);
    color: var(--contrast-color);
}

.navBar__listItem:hover::before {
    border-left: 2px solid var(--contrast-color);
    border-bottom: 2px solid var(--contrast-color);
}

.navBar__listItem:hover::after {
    border-right: 2px solid var(--contrast-color);
    border-top: 2px solid var(--contrast-color);
}

[data-navbar-back]::before {
    content: '';
    width: 12px;
    height: 12px;
    border-left: 1px solid var(--hover-color);
    border-bottom: 1px solid var(--hover-color);
    display: inline-block;
    transform: rotateZ(45deg);
}

[data-navbar-partof]::after {
    content: '';
    width: 10px;
    margin-left: 1.2rem;
    height: 10px;
    border-right: 1px solid var(--hover-color);
    border-top: 1px solid var(--hover-color);
    display: inline-block;
    transform: rotateZ(45deg);
}

.navBar__listItem_firstLevel {
    padding: var(--firstListItemPadding);
    font-size: 1.2rem;
    outline: none;
    flex: 1;
    position: relative;
    text-align: center;
}

.navBar__listItem_firstLevel:hover {
    cursor: pointer;
    background-color: var(--secondary-color);
}

[data-navbar-hasgroup] > span::after {
    content: '';
    width: 15px;
    margin-left: 1.2rem;
    margin-top: .5rem;
    height: 15px;
    border-right: 1px solid var(--hover-color);
    border-top: 1px solid var(--hover-color);
    display: inline-block;
    transform: rotateZ(-45deg);
    transition: transform .5s;
    top: 40%;
}

[data-navbar-hasgroup]:hover > span::after {
    transform: rotateZ(135deg);
    border-right: 1px solid var(--hover-color);
    border-top: 1px solid var(--hover-color);
}

.navBar__firstLevelList {
    background-color: var(--primary-color);
    box-shadow: 0px -9px 0px 0px var(--secondary-color);
    list-style: none;
    padding: 0;
    margin-right: 16px;
    display: inline-flex;
    vertical-align: top;
    transition: all .5s ease-in;
    box-sizing: border-box;
    justify-content: space-around;
    margin: 0;
    width: 80%;
}

.navBar__list {
    list-style: none;
    padding: 0;
    margin-right: 16px;
    display: inline-block;
    vertical-align: top;
    transition: all .5s ease-in;
    box-sizing: border-box;
    display: inline-table;
    font-size: 1rem;
    width: 100%;
}

.navBar__link {
    text-decoration: unset;
    color: inherit;
    padding: 0;
}

.navBar__groupList {
    padding: 16px 0;
    white-space: nowrap;
    overflow: hidden;
    opacity: 1;
    width: 250px;
    transition: all .5s;
    background-color: var(--primary-color);
    position: absolute;
    visibility: hidden;
    box-shadow: -20px 4px 0px 4px var(--secondary-color);
    margin-top: var(--firstListItemPadding);
}

@keyframes expand {
    from {max-height: 0;}
    to {max-height: 100vh;}
}

[data-navbar-group]:hover {
    display: block;
}

@media (max-width: 645px) {
    .navBar__firstLevelList {
        flex-direction: column;
        width: 100% !important;
    }
    
    .navBar__groupList {
        position: relative;
        margin: 1rem auto 0 auto;
        box-shadow: 0 0 0px 8px var(--primary-color);
        border-left: 3px solid var(--secondary-color);
        border-top: 3px solid var(--secondary-color);
        background-color: var(--primary-color);
    }

    .navBar__listItem_firstLevel {
        padding: .5rem 0;
    }
}