nav ul li:hover > [data-navbar-group] {
    display: block !important;
    animation-name: expand;
    animation-duration: 2s;
}

@keyframes expand {
    from {max-height: 0;}
    to {max-height: 100vh;}
}

[data-navbar-group]:hover {
    display: block;
}